.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
}

.home-button {
    background-color: #ff5349;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: 0.3s;
    cursor: pointer;
    height: 3.5rem;
    width: 8rem;
    font-size: 1rem;
}

.button-div button:hover {
    margin-bottom: 20px;
}