.projects {
    display: flex;
    flex-direction: row;
}

.select-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-div select, .select-div select:focus, .select-div select:active, .select-div option, .select-div option:focus, .select-div option:active{
    border: solid 2px red;
    outline: none;
    width: calc((100%/12)*11);
    text-align: center;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}